__pycache__/
*.py[cod]
.DS_Store
__MACOSX/
.venv/
venv/
*.log
data/*.db
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!infra/terraform/dev.tfvars
!infra/terraform/test.tfvars
*.tfplan
crash.log
.github/dbt-ci/.user.yml
/sql/
# Terraform saved plan files
**/tfplan*
